.status-working{
    padding: 10px;
    background-color: mediumseagreen;
    color: black;
    border-radius: 5px;

}

.status-resign{
    padding: 10px;
    background-color: darkorange;
    color: black;
    border-radius: 5px;

}

.status-delete{
    padding: 10px;
    background-color: red;
    color: black;
    border-radius: 5px;

}
