<!DOCTYPE html>
<html lang="en">
<head th:replace="~{head :: headDashboardFragment}"></head>

<body style="background-color: #E0E9DD">

<div th:replace="~{navbar :: navbarFragment}"></div>

<div class="container-fluid">

    <!--    title area start-->
    <div class="row p-2">
        <div class="col-md-12">
            <h1 class="h1 text-center"
                style="background-color: #044800; color: whitesmoke; padding: 25px; border-radius: 30px">
                Dashboard
            </h1>
        </div>
    </div>
    <!--    title area end-->

    <!--    first row start-->
    <div class="row mt-2" style="padding: 5%">
        <h1 class="h1 fw-bold" style="padding: 5px; margin-bottom: 30px">Administration Section</h1>
        <div class="col-md-3">
            <img src="/icons/employee.png" alt="employee image"
                 style="border-radius: 10%; border: 2px solid black; padding: 10px"
                 onclick="console.log('employee'); window.open('/employee/employeeform','_self');">
            <h5 class="fw-bold">Employee Management</h5>
        </div>

        <div class="col-md-3">
            <img src="/icons/user.png" alt="user image"
                 style="border-radius: 10%; border: 2px solid black; padding: 10px;"
                 onclick="console.log('user'); window.open('http://localhost:8080/user/userform','_self');">
            <h5 class="fw-bold">User Management</h5>
        </div>


        <div class="col-md-3">
            <img src="/icons/privilege.png" alt="privilege image"
                 style="border-radius: 10%; border: 2px solid black; padding: 10px;"
                 onclick="console.log('privilege'); window.open('http://localhost:8080/privilege/privilegeform','_self');">
            <h5 class="fw-bold">Privilege Management</h5>
        </div>


    </div>
    <!--    first row end-->


    <!-- second row start -->
    <div class="row mt-2" style="padding: 5%">
        <h1 class="h1 fw-bold" style="padding: 5px; margin-bottom: 30px">Student Section</h1>

        <div class="col-md-3">
            <img src="/icons/parent.png" alt="parent image"
                 style="border-radius: 10%; border: 2px solid black; padding: 10px;"
                 onclick="console.log('parent'); window.open('/guardian/guardianform','_self');">
            <h5 class="fw-bold">Guardian Management</h5>
        </div>


        <div class="col-md-3">
            <img src="/icons/student.png" alt="student image"
                 style="border-radius: 10%; border: 2px solid black; padding: 10px"
                 onclick="console.log('student'); window.open('/student/studentform','_self');">
            <h5 class="fw-bold">Student Management</h5>
        </div>

        <div class="col-md-3">
            <img src="/icons/writing.png" alt="writing image"
                 style="border-radius: 10%; border: 2px solid black; padding: 10px;"
                 onclick="console.log('parent'); window.open('/studentregistration/studentregistrationform','_self');">
            <h5 class="fw-bold">Student Class Registration</h5>
        </div>

        <div class="col-md-3">
            <img src="/icons/payment.png" alt="payment image"
                 style="border-radius: 10%; border: 2px solid black; padding: 10px;"
                 onclick="console.log('payment'); window.open('/payment/paymentform','_self')">
            <h5 class="fw-bold">Payment Management</h5>
        </div>


        <div class="col-md-3 mt-5">
            <img src="/icons/attendance.png" alt="attendace image"
                 style="border-radius: 10%; border: 2px solid black; padding: 10px;"
                 onclick="console.log('payment'); window.open('/attendance/attendanceform','_self')">
            <h5 class="fw-bold">Attendance Management</h5>
        </div>

    </div>
    <!-- second row  finish -->

    <!--    third row start-->
    <div class="row mt-2" style="padding: 5%">
        <h1 class="h1 fw-bold" style="padding: 5px; margin-bottom: 30px">Class Section</h1>
        <div class="col-md-3">
            <img src="/icons/hall.png" alt="class hall management"
                 style="border-radius: 10%; border: 2px solid black; padding: 10px;" onclick="console.log('class'); window.open('/classhall/classhallform','_self')">
            <h5 class="fw-bold">Class Hall Management</h5>
        </div>

        <div class="col-md-3">
            <img src="/icons/allocation.png" alt="class management"
                 style="border-radius: 10%; border: 2px solid black; padding: 10px;" onclick="console.log('class'); window.open('/classroomallocation/classroomallocationform','_self')">
            <h5 class="fw-bold">Class Room Allocation</h5>
        </div>

        <div class="col-md-3"></div>
    </div>
    <!--    third row end-->


    <!--    forth row start-->
    <div class="row mt-2" style="padding: 5%" >
        <h1 class="h1 fw-bold" style="padding: 5px; margin-bottom: 30px">Teacher Section</h1>
        <div class="col-md-3">
            <img src="/icons/teacher.png" alt="teacher image"
                 style="border-radius: 10%; border: 2px solid black; padding: 10px;" onclick="console.log('teacher'); window.open('/teacher/teacherform','_self')">
            <h5 class="fw-bold">Teacher Management</h5>
        </div>

        <div class="col-md-3">
            <img src="/icons/class.png" alt="class management"
                 style="border-radius: 10%; border: 2px solid black; padding: 10px;" onclick="console.log('class'); window.open('/classoffering/classofferingform','_self')">
            <h5 class="fw-bold">Class Offering</h5>
        </div>

        <div class="col-md-3">
            <img src="/icons/teacherpayment.png" alt="teacher image"
                 style="border-radius: 10%; border: 2px solid black; padding: 10px;" onclick="console.log('teacher payment'); window.open('/teacherpayment','_self')">
            <h5 class="fw-bold">Teacher payment Management</h5>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
    </div>
    <!--    forth row end-->


    <div th:replace="~{navbar :: settingmodal}"></div>


</div>

<script src="/controllerjs/dashboard.js"></script>
</body>
</html>
