<div th:fragment="navbarFragment" class="row">

    <!--    nav bar start-->
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" style="color: whitesmoke" data-bs-toggle="offcanvas"
               data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">Sipsetha</a>




            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto">


                    <li class="nav-item">
                        <a class="nav-link active" style="color: whitesmoke" aria-current="page" href="http://localhost:8080/dashboard">Home</a>
                    </li>

                    <li class="nav-item dropdown" id="navAdministration" >
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false" style="color: whitesmoke">
                            Administration
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="employee/employeeform">employee management</a></li>
                            <li><a class="dropdown-item" href="user/userform">user management</a></li>
                            <li><a class="dropdown-item" href="privilege/privilegeform">privilege management</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown" id="navStudent">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false" style="color: whitesmoke">
                            student
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/student/studentform">Student management</a></li>
                            <li><a class="dropdown-item" href="/guardian/guardianform">Guardian management</a></li>
                            <li><a class="dropdown-item" href="/studentregistration/studentregistrationform">student registration management</a></li>
                            <li><a class="dropdown-item" href="/payment/paymentform">student payment management</a></li>
                            <li><a class="dropdown-item" href="/attendance/attendanceform">Student Attendance management</a></li>
                        </ul>



                    </li>

                    <li class="nav-item dropdown" id="navClass">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false" style="color: whitesmoke">
                            class
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/classhall/classhallform">class hall management</a></li>
                            <li><a class="dropdown-item" href="/classoffering/classofferingform">class offering management</a></li>
                            <li><a class="dropdown-item" href="/classroomallocation/classroomallocationform">classroom allocation management</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown" id="navTeacher">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false" style="color: whitesmoke">
                            class
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/teacher/teacherform">teacher management</a></li>
                            <li><a class="dropdown-item" href="/teacherpayment">teacher payment management</a></li>
                        </ul>
                    </li>


                    <li class="nav-item">
                        <a class="ms-2" onclick="refreshProfileEditForm()" data-bs-toggle="modal" data-bs-target="#modalsetting">
                            <img src="/icons/setting.png">
                        </a>
                    </li>



                    <a class="navbar-brand" style="margin-left: 20%; color: whitesmoke;" th:text="${loggedusername}">logged user</a>
                    <a class="navbar-brand" id="roleNavBar" style="margin-left: 20%; color: whitesmoke;" th:text="${loggeduserrole}">logged role</a>
                    <img src="/icons/employee.png" id="imguserPhoto" style="width: 50px; height: 50px; border-radius: 50%">


                    <button class="btn btn-danger"
                            onclick="let userConfirm = confirm('are you sure to logout');
                            if (userConfirm){
                                location.replace('http://localhost:8080/logout');
                            }
                        "
                    >logout</button>

                </ul>

            </div>
        </div>
    </nav>

    <!--    nav bar end-->

<!--    off canvas start-->
    <div class="offcanvas offcanvas-end" style="background-color: #E0E9DD" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h2 class="offcanvas-title" id="offcanvasExampleLabel">sipsetha institute</h2>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body" style="background-color: #E0E9DD">

            <div class="row mt-2" id="offCanAdministration">
                <div class="btn-group">
                    <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        Administration section
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/employee/employeeform">employee</a></li>
                        <li><a class="dropdown-item" href="/user/userform">user</a></li>
                        <li><a class="dropdown-item" href="/privilege/privilegeform">privilege</a></li>
                    </ul>
                </div>
            </div>


            <div class="row mt-2" id="offCanStudent">
                <div class="btn-group mt-2">
                    <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        student Sections
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/guardian/guardianform">guardian management</a></li>
                        <li><a class="dropdown-item" href="/student/studentform">student management</a></li>
                        <li><a class="dropdown-item" href="/studentregistration/studentregistrationform">student registration management</a></li>
                        <li><a class="dropdown-item" href="/payment/paymentform">student payment management</a></li>
                    </ul>
                </div>
            </div>

            <div class="row mt-2" id="offCanClass">
                <div class="btn-group mt-2">
                    <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        class Sections
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/classhall/classhallform">class hall management</a></li>
                        <li><a class="dropdown-item" href="/classoffering/classofferingform">class offering management</a></li>
                        <li><a class="dropdown-item" href="/classroomallocation/classroomallocationform">classroom allocation management</a></li>
                    </ul>
                </div>
            </div>



            <div class="row mt-2" id="offCanTeacher">
                <div class="btn-group mt-2">
                    <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        teacher Sections
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/teacher/teacherform">teacher management</a></li>
                        <li><a class="dropdown-item" href="/teacherpayment">teacher payment management</a></li>
                    </ul>
                </div>
            </div>


            <div class="row mt-2" id="offCanReports">
                <div class="btn-group mt-2">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        report Sections
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/reportworkingemployee">employee reports</a></li>
                        <li><a class="dropdown-item" href="/reportstudentui">student reports</a></li>
                        <li><a class="dropdown-item" href="/reportpaymentui">student payment reports</a></li>
                        <li><a class="dropdown-item" href="/reportattendancetui">attendance reports</a></li>
                    </ul>
                </div>
            </div>




        </div>
    </div>
<!--    off canvas end-->


</div>

<div class="modal fade" id="modalsetting" th:fragment="settingmodal" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">change settings</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!--                        username start-->
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label for="txtUsrNm" class="form-label fw-bold">user name <i class="text-danger">*</i></label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="txtUsrNm" class="form-control text-center" required placeholder="enter user name" onkeyup="textValidator(this,'^[A-Z][a-z]{2,20}$','loggeduser','username')">
                    </div>
                </div>
                <!--                        username end-->

                <!--                        password start-->
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label for="txtPw" class="form-label fw-bold">password <i class="text-danger">*</i></label>
                    </div>
                    <div class="col-md-6">
                        <input type="password" id="txtPw" class="form-control text-center" required placeholder="enter your password" onkeyup="textValidator(this,'^.*$','loggeduser','password')">
                    </div>
                </div>
                <!--                        password end-->

                <!--                        email start-->
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label for="txtEm" class="form-label fw-bold">email <i class="text-danger">*</i></label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="txtEm" class="form-control text-center" required placeholder="enter your email here" onkeyup="textValidator(this,'^[A-Za-z0-9]{6,20}[@][a-z]{3,10}[.][a-z]{2,3}$','loggeduser','email')" >
                    </div>
                </div>
                <!--                        email end-->

                <!--photo start-->
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label for="fileEmpPhoto" class="form-label fw-bold">image <i class="text-danger">*</i>
                        </label>
                        <button type="button" id="btnSelectImage" onclick="fileEmpPhoto.click()"
                                class="btn btn-primary">select image
                        </button>
                        <button type="button" id="btnClearImage" onclick="btnClearImageFN()"
                                class="btn btn-info">clear image
                        </button>
                    </div>
                    <div class="col-md-6">
                        <img src="/icons/no-photo.png" style="height: 75px; width: 75px" alt="default image"
                             id="imgEmpPhoto">
                        <input type="text" disabled class="form-control" id="textEmpPhoto">
                        <input type="file" class="form-control d-none" id="fileEmpPhoto"
                               onchange="validateFileField(this,'loggeduser','userphoto','','oldloggeduser',imgEmpPhoto,textEmpPhoto)">
                    </div>
                </div>
                <!--photo start-->

                <button type="submit" onclick="submitUserSetting()" class="btn btn-secondary">submit user setting</button>

            </div>

        </div>
    </div>
</div>