<!DOCTYPE html>
<html lang="en">
<head th:replace="~{head :: headModulesFragment}"></head>

<head>
    <script src="/controllerjs/payment.js"></script>
</head>

<body style="background-color: #E0E9DD">
<div th:replace="~{navbar :: navbarFragment}"></div>

<!--container fluid start-->
<div class="container-fluid">


    <!--  title area start-->
    <div class="row p-2">
        <div class="col--md-12">
            <h1 class="h1 text-center"
                style="background-color: #044800; color: whitesmoke; padding: 25px; border-radius: 30px">
                student payment management ui
            </h1>
        </div>
    </div>
    <!--  title area end-->


    <!--  title button area start-->
    <div class="row mt-2">
        <div class="col-md-8">
            <div id="divPrintClassTableButton" class="">
                <button onclick="printPaymentFullTable()" type="button" class="btn fw-bold"
                        style="background-color: #044800; color: whitesmoke; width: 25%; border: 1px solid black; border-radius: 30px">
                    <i class="fa-solid fa-print fa-beat"> </i> print student payment table
                </button>
            </div>

        </div>
        <div class="col-md-4">
            <button type="button" class="btn fw-bold"
                    style="background-color: #044800; color: whitesmoke; width: 100%; border: 1px solid black; border-radius: 30px"
                    data-bs-toggle="modal" data-bs-target="#modalStudentPayment" data-bs-backdrop="static"
                    data-bs-keyboard="false">
                <i class="fa-solid fa-plus fa-beat"></i> add new student payment
            </button>
        </div>
    </div>
    <!--  title button area end-->


    <!--      edit delete print button start-->
    <div class="row mt-2">
        <div id="divModifyButton" class="d-none">
            <div class="col-md-8">
                <button type="button" id="divModifyButtonRefill" class="btn btn-warning fw-bold"
                        style="width: 25%; color: whitesmoke; border:1px solid black"
                        onclick="refillPaymentForm(window['editOb'],window['editRow'])"
                >
                    <i class="fa-solid fa-recycle fa-beat"> </i> edit
                </button>
                <button type="button" id="divModifyButtonDelete" class="btn btn-danger fw-bold ms-2 me-2"
                        style="width: 25%; border: 1px solid black"
                        onclick="deletePaymentButton(window['editOb'],window['editRow'])"
                >
                    <i class="fa-solid fa-trash fa-beat"></i> delete
                </button>
                <button type="button" class="btn btn-primary fw-bold" style="width: 25%; border:1px solid black"
                        onclick="printPayment(window['editOb'],window['editRow'])"
                >
                    <i class="fa-solid fa-eye fa-beat"></i> print
                </button>
            </div>
        </div>
    </div>
    <!--      edit delete print button end-->


    <!--  table area start-->
    <div class="row mt-5"></div>
    <table class="table table-bordered table-striped" id="tableStudentPayment">
        <thead class="table text-center" style="background-color: #044800; color: whitesmoke">
        <th>#</th>
        <th>fee</th>
        <th>month</th>
        <th>bill number</th>
        <th>pay type</th>
        <th>student name</th>
        <th>modify</th>
        </thead>
        <tbody>

        </tbody>
    </table>
    <!--  table area end-->


    <!--modal area start-->
    <div class="modal modal-xl" id="modalStudentPayment" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">


            <div class="modal-content">
                <div class="modal-header" style="background-color: #044800; color: whitesmoke">
                    <h2 class="h2">
                        add new student payment
                    </h2>
                    <button type="button" class="btn btn btn-danger"
                            style="color: whitesmoke; border: 1px solid black; border-radius: 25%;"
                            data-bs-dismiss="modal">
                        <i class="fa-solid fa-xmark"> </i> close
                    </button>
                </div>


                <div class="modal-body" style="background-color: #E0E9DD">
                    <form onsubmit="return false" id="studentPaymentForm">

                        <!--                    required mark start-->
                        <div class="row mt-2">
                            <div class="col-md-12 text-start">
                                <span class="text-danger">required *</span>
                            </div>
                        </div>
                        <!--                    required mark end-->

                        <!--                        fees start-->
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <label for="textFee" class="form-label fw-bold"> fees <i class="text-danger">*</i>
                                </label>
                            </div>
                            <div class="col-md-6">
                                <input type="number" min="500" max="9999" id="textFee" class="form-control text-center"
                                       required placeholder="enter fee"
                                       onkeyup="textValidator(this,'^[0-9]{4}[.][0]{2}$','payment','fees')">
                            </div>
                        </div>
                        <!--                        fees end-->


                        <!--                        month start-->
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <label for="textMonth" class="form-label fw-bold"> month <i class="text-danger">*</i>
                                </label>
                            </div>
                            <div class="col-md-6">
                                <input type="month" id="textMonth" class="form-control text-center" required
                                       placeholder="enter month" onchange="textValidator(this,'','payment','month'); console.log(this.value)">
                            </div>
                        </div>
                        <!--                        month end-->


                        <!--                        payed amount start-->
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <label for="textPayedAmount" class="form-label fw-bold"> payed amount <i
                                        class="text-danger">*</i> </label>
                            </div>
                            <div class="col-md-6">
                                <input type="number" id="textPayedAmount" class="form-control text-center" required
                                       placeholder="enter payed amount"
                                       onkeyup="textValidator(this,'^[0-9]{3,4}[.][0][0]$','payment','payedamount')">
                            </div>
                        </div>
                        <!--                        payed amount end-->


                        <!--                        balance amount start-->
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <label for="textBalanceAmount" class="form-label fw-bold">balance amount <i
                                        class="text-danger">*</i> </label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" id="textBalanceAmount" class="form-control text-center" required
                                       placeholder="enter balance amount"
                                       onkeyup="textValidator(this,'^[0-9]{3,4}[.][0][0]$','payment','balanceamount')">
                            </div>
                        </div>
                        <!--                        balance amount end-->

                        <!--                        reference number start-->
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <label for="textReferenceNumber" class="form-label fw-bold">reference number <i
                                        class="text-primary">(optional)</i> </label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" id="textReferenceNumber" class="form-control text-center"
                                       placeholder="enter reference number"
                                       onkeyup="textValidator(this,'','payment','referencenumber')">
                            </div>
                        </div>
                        <!--                        reference number end-->

                        <!--                        card number start-->
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <label for="textCardNumber" class="form-label fw-bold"> card number <i
                                        class="text-primary"> (optional) </i> </label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control text-center" id="textCardNumber"
                                       placeholder="enter card number"
                                       onkeyup="textValidator(this,'^[0-9]{16}$','payment','cardno')">
                            </div>
                        </div>
                        <!--                        card number end-->


                        <!--                        pay type start-->
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <label for="selectPayType" class="form-label fw-bold"> pay type <i class="text-danger">*</i> </label>
                            </div>
                            <div class="col-md-6">
                                <select id="selectPayType" class="form-select text-center" required
                                        onchange="selectDBValidator(this,'','payment','paytype_id')"></select>
                            </div>
                        </div>
                        <!--                        pay type end-->


                        <!--                        student start-->
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <label for="selectStudent" class="form-label fw-bold">select student <i
                                        class="text-danger">*</i> </label>
                            </div>
                            <div class="col-md-6">
                                <select id="selectStudent" class="form-select text-center" required
                                        onchange="selectDBValidator(this,'','payment','student_id')"> </select>
                            </div>
                        </div>
                        <!--                        student end-->


                        <!--                    button start-->
                        <div class="row mt-5">
                            <div class="col-md-4">
                                <button type="reset" class="btn btn-danger fw-bold"
                                        style=" width: 50%; color: whitesmoke; border: 1px solid black; border-radius: 10%">
                                    <i class="fa-solid fa-trash fa-beat"> </i> reset
                                </button>
                            </div>
                            <div class="col-md-4 text-center">
                                <button type="button" id="btnStudentUpdate" class="btn btn-warning fw-bold"
                                        style="width: 50%; color: whitesmoke; border: 1px solid black; border-radius: 10%"
                                        onclick="buttonFormUpdate()">
                                    <i class="fa-solid fa-recycle fa-beat"> </i> update
                                </button>
                            </div>
                            <div class="col-md-4 text-end">
                                <button type="submit" id="btnStudentPayment" class="btn btn-primary fw-bold"
                                        style="width: 50%; color: whitesmoke; border: 1px solid black; border-radius: 10%; pointer-events: all"
                                        onclick="btnStudentRegistrationSubmit()">
                                    <i class="fa-solid fa-plus fa-beat"> </i> add
                                </button>
                            </div>
                        </div>
                        <!--                    button end-->


                    </form>
                </div>


            </div>
        </div>
    </div>
    <!--modal area end-->

    <!--print model area start-->
    <div class="modal" id="printPaymentModel">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal print</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="table table-striped table-bordered" id="printPaymentTable">
                        <thead class="table text-center" style="background-color: #044800; color: whitesmoke">
                        <th>#</th>
                        <th>fee</th>
                        <th>month</th>
                        <th>bill number</th>
                        <th>pay type</th>
                        <th>student name</th>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="modalPrintButton()" class="btn btn-primary">print</button>
                </div>
            </div>
        </div>
    </div>
    <!--print model area end-->



</div>
<!--container fluid end-->


</body>
</html>
