<!DOCTYPE html>
<html lang="en">
<head th:replace="~{head :: headModulesFragment}"></head>
<head>
    <script src="/controllerjs/privilege.js"></script>
</head>
<body style="background-color: #E0E9DD">
<div th:replace="~{navbar :: navbarFragment}"></div>

<div class="container-fluid">

    <!--  title area start-->
    <div class="row p-2">
        <div class="col--md-12">
            <h1 class="h1 text-center"
                style="background-color: #044800; color: whitesmoke; padding: 25px; border-radius: 30px">
                privilege management
            </h1>
        </div>
    </div>
    <!--  title area end-->

    <!--  title button area start-->
    <div class="row mt-2">
        <div class="col-md-8">
            <div id="divPrintEmployeePrivilegeButton" class="">
                <button type="button" class="btn fw-bold"
                        style="background-color: #044800; color: whitesmoke; width: 25%; border: 1px solid black; border-radius: 30px">
                    <i class="fa-solid fa-print fa-beat"> </i> print privilege table
                </button>
            </div>

        </div>
        <div class="col-md-4">
            <button type="button" class="btn fw-bold"
                    style="background-color: #044800; color: whitesmoke; width: 100%; border: 1px solid black; border-radius: 30px"
                    data-bs-toggle="modal" data-bs-target="#modalPrivilegeAdd" data-bs-backdrop="static"
                    data-bs-keyboard="false">
                <i class="fa-solid fa-plus fa-beat"></i> add new privilege
            </button>
        </div>
    </div>
    <!--  title button area end-->


    <!--      edit delete print button start-->
    <div class="row mt-2">
        <div id="divModifyButton" class="d-none">
            <div class="col-md-6">
                <button type="button" class="btn btn-warning fw-bold"
                        style="width: 15%; color: whitesmoke; border:1px solid black" onclick="privilegeFormRefill(window['editOb'],window['editRow'])">
                    <i class="fa-solid fa-recycle fa-beat"> </i> edit
                </button>
                <button type="button" id="divModifyButtonDelete" class="btn btn-danger fw-bold ms-2 me-2"
                        style="width: 15%; border: 1px solid black; pointer-events: all;" onclick="deletePrivilege(window['editOb'],window['editRow'])">
                    <i class="fa-solid fa-trash fa-beat"></i> delete
                </button>
                <button type="button" class="btn btn-primary fw-bold"
                        style="width: 15%; border:1px solid black" onclick="printPrivilege(window['editOb'],window['editRow'])">
                    <i class="fa-solid fa-eye fa-beat"></i> print
                </button>
            </div>
        </div>
    </div>
    <!--      edit delete print button end-->


    <!--  table area start-->
    <div class="row mt-5"></div>
    <table class="table table-bordered table-striped" id="tablePrivilege">
        <thead class="table text-center" style="background-color: #044800; color: whitesmoke">
        <th>#</th>
        <th>role</th>
        <th>module</th>
        <th>select</th>
        <th>insert</th>
        <th>update</th>
        <th>delete</th>
        <th>modify</th>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>manger</td>
            <td>employee</td>
            <td>true</td>
            <td>true</td>
            <td>true</td>
            <td>true</td>
            <td class="text-center">
                <button type="button" class="btn btn-warning fw-bold"
                        style="color: whitesmoke; border: 1px solid black; "><i
                        class="fa-solid fa-recycle fa-beat"> </i>edit
                </button>
                <button type="button" class="btn btn-danger fw-bold"
                        style="color: whitesmoke; border: 1px solid black; "><i class="fa-solid fa-trash fa-beat"> </i>delete
                </button>
                <button type="button" class="btn btn-primary fw-bold"
                        style="color: whitesmoke; border: 1px solid black; "><i class="fa-solid fa-eye fa-beat"> </i>print
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <!--  table area end-->


    <!--  privilege modal area start-->
    <div class="modal modal-xl" id="modalPrivilegeAdd" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #044800; color: whitesmoke;">
                    <h2 class="h2">
                        add new privilege
                    </h2>
                    <button type="button" class="btn btn btn-danger"
                            style="color: whitesmoke; border: 1px solid black; border-radius: 25%;"
                            data-bs-dismiss="modal">
                        <i class="fa-solid fa-xmark"> </i> close
                    </button>
                </div>

                <div class="modal-body" style="background-color: #E0E9DD">

                    <form onsubmit="return false" id="formPrivilege">
                        <!--                    required mark start-->
                        <div class="row mt-2">
                            <div class="col-md-12 text-start">
                                <span class="text-danger">required *</span>
                            </div>
                        </div>
                        <!--                    required mark end-->

<!--                        role start-->
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <label for="selectRole" class="form-label fw-bold">role <i class="text-danger">*</i></label>
                            </div>
                            <div class="col-md-6">
                                <select id="selectRole" class="form-select text-center" required onchange="selectDBValidator(this,'','privilege','role_id'); generateModuleList();  ">
                                    <option value="" selected disabled>select an option</option>
                                    <option value="manager">manager</option>
                                    <option value="cashier">cashier</option>
                                    <option value="receptionist">receptionist</option>
                                </select>
                            </div>
                        </div>
<!--                        role end-->

<!--                        module start-->
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <label for="selectModule" class="form-label fw-bold">module <i class="text-danger">*</i></label>
                            </div>
                            <div class="col-md-6">
                                <select id="selectModule" required class="form-select text-center" onchange="selectDBValidator(this,'','privilege','module_id')">
                                    <option value="" selected disabled>select an option</option>
                                    <option value="employee">employee</option>
                                    <option value="student">student</option>
                                    <option value="teacher">teacher</option>
                                    <option value="guardian">guardian</option>
                                </select>
                            </div>
                        </div>
<!--                        module end-->

<!--                        select start-->
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <label for="checkboxSelect" class="form-label fw-bold">select</label>
                            </div>
                            <div class="col-md-6">
                                <input type="checkbox" id="checkboxSelect" class="form-check-input fw-bold" onchange="checkBoxValidator(this,'','privilege','sel',true,false,labelSelect,'granted','not-granted')">
                                <label id="labelSelect">select privilege not granted</label>
                            </div>
                        </div>
<!--                        select end-->


                        <!--                        insert start-->
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <label for="checkboxInsert" class="form-label fw-bold">insert</label>
                            </div>
                            <div class="col-md-6">
                                <input type="checkbox" id="checkboxInsert" class="form-check-input fw-bold" onchange="checkBoxValidator(this,'','privilege','inst',true,false,labelInsert,'granted','not-granted')" >
                                <label id="labelInsert">insert privilege not granted</label>
                            </div>
                        </div>
                        <!--                        insert end-->



                        <!--                        update start-->
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <label for="checkboxUpdate" class="form-label fw-bold">update</label>
                            </div>
                            <div class="col-md-6">
                                <input type="checkbox" id="checkboxUpdate" class="form-check-input fw-bold" onchange="checkBoxValidator(this,'','privilege','upd',true,false,labelUpdate,'granted','not-granted')">
                                <label id="labelUpdate">update privilege not granted</label>
                            </div>
                        </div>
                        <!--                        update end-->



                        <!--                        delete start-->
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <label for="checkboxDelete" class="form-label fw-bold">delete</label>
                            </div>
                            <div class="col-md-6">
                                <input type="checkbox" id="checkboxDelete" class="form-check-input fw-bold" onchange="checkBoxValidator(this,'','privilege','del',true,false,labelDelete,'granted','not-granted')" >
                                <label id="labelDelete">delete privilege not granted</label>
                            </div>
                        </div>
                        <!--                        delete end-->




                        <!--                    button start-->
                        <div class="row mt-5">
                            <div class="col-md-4">
                                <button type="reset" class="btn btn-danger fw-bold"
                                        style=" width: 50%; color: whitesmoke; border: 1px solid black; border-radius: 10%">
                                    <i class="fa-solid fa-trash fa-beat"> </i> reset
                                </button>
                            </div>
                            <div class="col-md-4 text-center">
                                <button type="button" id="btnUpdatePrivilege" class="btn btn-warning fw-bold"
                                        style="width: 50%; color: whitesmoke; border: 1px solid black; border-radius: 10%; pointer-events: all" onclick="buttonPrivilegeUpdate()" >
                                    <i class="fa-solid fa-recycle fa-beat"> </i> update
                                </button>
                            </div>
                            <div class="col-md-4 text-end">
                                <button type="submit" id="btnAddPrivilege" class="btn btn-primary fw-bold" style="width: 50%; color: whitesmoke; border: 1px solid black; border-radius: 10%; pointer-events: all" onclick="privilegeSubmit()">
                                    <i class="fa-solid fa-plus fa-beat"> </i> add
                                </button>
                            </div>
                        </div>
                        <!--                    button end-->



                    </form>

                </div>

            </div>
        </div>
    </div>
    <!--  privilege modal area end-->


</div>
</body>
</html>
