<!DOCTYPE html>
<html lang="en">
<head th:replace="~{head :: headModulesFragment}"></head>

<head>
    <script src="/controllerjs/teacherpayment.js"></script>
</head>


<body style="background-color: #E0E9DD">
<div th:replace="~{navbar :: navbarFragment}"></div>
<div class="container-fluid">


    <!--  title area start-->
    <div class="row p-2">
        <div class="col--md-12">
            <h1 class="h1 text-center"
                style="background-color: #044800; color: whitesmoke; padding: 25px; border-radius: 30px">
                teacher payment management
            </h1>
        </div>
    </div>
    <!--  title area end-->

    <!--  title button area start-->
    <div class="row mt-2">
        <div class="col-md-8">
            <div id="divPrintEmployeeTableButton" class="">
                <button type="button" class="btn fw-bold"
                        style="background-color: #044800; color: whitesmoke; width: 25%; border: 1px solid black; border-radius: 30px">
                    <i class="fa-solid fa-print fa-beat"> </i> print teacher payment table
                </button>
            </div>

        </div>
        <div class="col-md-4">
            <button type="button" class="btn fw-bold"
                    style="background-color: #044800; color: whitesmoke; width: 100%; border: 1px solid black; border-radius: 30px"
                    data-bs-toggle="modal" data-bs-target="#modalTeacherPaymentAdd" data-bs-backdrop="static"
                    data-bs-keyboard="false">
                <i class="fa-solid fa-plus fa-beat"></i> add new teacher payment
            </button>
        </div>
    </div>
    <!--  title button area end-->

    <!--      edit delete print button start-->
    <div class="row mt-2">
        <div id="divModifyButton" class="d-none">
            <div class="col-md-8">
                <button type="button" id="divModifyButtonRefill" class="btn btn-warning fw-bold"
                        style="width: 25%; color: whitesmoke; border:1px solid black"
                        onclick="employeeFormRefill(window['editOb'],window['editRow'])">
                    <i class="fa-solid fa-recycle fa-beat"> </i> edit
                </button>
                <button type="button" id="divModifyButtonDelete" class="btn btn-danger fw-bold ms-2 me-2"
                        style="width: 25%; border: 1px solid black"
                        onclick="deleteEmployee(window['editOb'],window['editRow'])">
                    <i class="fa-solid fa-trash fa-beat"></i> delete
                </button>
                <button type="button" class="btn btn-primary fw-bold" style="width: 25%; border:1px solid black"
                        onclick="printEmployee(window['editOb'],window['editRow'])">
                    <i class="fa-solid fa-eye fa-beat"></i> print
                </button>
            </div>
        </div>
    </div>
    <!--      edit delete print button end-->

    <!--  table area start-->
    <div class="row mt-5"></div>
    <table class="table table-bordered table-striped" id="tableTeacherPayment">
        <thead class="table text-center" style="background-color: #044800; color: whitesmoke">
        <th>#</th>
        <th>bill number</th>
        <th>total enrolment amount</th>
        <th>total payment amount</th>
        <th>total balance amount</th>
        <th>bank name</th>
        <th>branch name</th>
        <th>account holder name</th>
        <th>account number</th>
        <th>reference number</th>
        <th>modify</th>
        </thead>
        <tbody>

        </tbody>
    </table>
    <!--  table area end-->


    <!--enrolment modal area start-->
    <div class="modal" id="modalTeacherPaymentAdd" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #044800; color: whitesmoke;">
                    <h2 class="h2">
                        add new teacher payment
                    </h2>
                    <button type="button" class="btn btn btn-danger"
                            style="color: whitesmoke; border: 1px solid black; border-radius: 25%;"
                            data-bs-dismiss="modal">
                        <i class="fa-solid fa-xmark"> </i> close
                    </button>
                </div>
                <div class="modal-body" style="background-color: #E0E9DD">

                    <form onsubmit="return false" id="formTeacherPayment">
                        <!--                    required mark start-->
                        <div class="row mt-2">
                            <div class="col-md-12 text-start">
                                <span class="text-danger">required *</span>
                            </div>
                        </div>
                        <!--                    required mark end-->

                        <!--                        row start-->
                        <div class="row mt-2">

                            <!--                            left side start-->
                            <div class="col-md-6">


                                <!--                                total enrolment amount start-->
                                <div class="row mt-2">
                                    <div class="col-md-6">
                                        <label for="textTotalEnrolmentAmount" class="form-label fw-bold">total enrolment
                                            amount</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" id="textTotalEnrolmentAmount"
                                               class="form-control text-center" required
                                               placeholder="enter total enrolment amount"
                                               onkeyup="textValidator(this,'','teacherpayment','totalenrolmentamount')">
                                    </div>
                                </div>
                                <!--                                total enrolment amount end-->


                                <!--                                total payment amount start-->
                                <div class="row mt-2">
                                    <div class="col-md-6">
                                        <label for="textTotalPaymentAmount" class="form-label fw-bold">total payment
                                            amount</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" id="textTotalPaymentAmount"
                                               class="form-control text-center" required
                                               placeholder="enter total payment amount"
                                               onkeyup="textValidator(this,'','teacherpayment','totalpaymentamount')">
                                    </div>
                                </div>
                                <!--                                total payment amount end-->


                                <!--                                total balance amount start-->
                                <div class="row mt-2">
                                    <div class="col-md-6">
                                        <label for="textTotalBalanceAmount" class="form-label fw-bold">total balance
                                            amount</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" id="textTotalBalanceAmount"
                                               class="form-control text-center" required
                                               placeholder="enter total balance amount"
                                               onkeyup="textValidator(this,'','teacherpayment','totalbalanceamount')">
                                    </div>
                                </div>
                                <!--                                total balance amount end-->


                                <!--                                bank name start-->
                                <div class="row mt-2">
                                    <div class="col-md-6">
                                        <label for="textBankName" class="form-label fw-bold">bank name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" id="textBankName"
                                               class="form-control text-center" required
                                               placeholder="enter bank name"
                                               onkeyup="textValidator(this,'','teacherpayment','bankname')">
                                    </div>
                                </div>
                                <!--                                bank name end-->

                                <!--                                branch name start-->
                                <div class="row mt-2">
                                    <div class="col-md-6">
                                        <label for="textBranchName" class="form-label fw-bold">branch name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" id="textBranchName"
                                               class="form-control text-center" required
                                               placeholder="enter branch name"
                                               onkeyup="textValidator(this,'','teacherpayment','branchname')">
                                    </div>
                                </div>
                                <!--                                branch name end-->

                                <!--                                account holder name start-->
                                <div class="row mt-2">
                                    <div class="col-md-6">
                                        <label for="textAccountHolderName" class="form-label fw-bold">account holder
                                            name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" id="textAccountHolderName"
                                               class="form-control text-center" required
                                               placeholder="enter account holder name"
                                               onkeyup="textValidator(this,'','teacherpayment','accountholdername')">
                                    </div>
                                </div>
                                <!--                                account holder name end-->

                                <!--                                account number start-->
                                <div class="row mt-2">
                                    <div class="col-md-6">
                                        <label for="textAccountNumber" class="form-label fw-bold">account number</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" id="textAccountNumber"
                                               class="form-control text-center" required
                                               placeholder="enter account number"
                                               onkeyup="textValidator(this,'','teacherpayment','accountnumber')">
                                    </div>
                                </div>
                                <!--                                account number end-->


                            </div>
                            <!--                            left side end-->


                            <!--                            right side start-->
                            <div class="col-md-6">

                                <!--                                enrolment start-->
                                <div class="row mt-2">
                                    <div class="col-md-6">
                                        <label for="selectEnrolment" class="form-label fw-bold"> enrolment <i
                                                class="text-danger">*</i></label>
                                    </div>
                                    <div class="col-md-6">
                                        <select id="selectEnrolment" class="form-select text-center" required
                                                onchange="selectDBValidator(this,'','tchPayHsEnrlmt','enrolment_id')"></select>
                                    </div>
                                </div>
                                <!--                                enrolment start-->


                                <!--                                 payed amount start-->
                                <div class="row mt-2">
                                    <div class="col-md-6">
                                        <label for="textPayedAmount" class="form-label fw-bold">payed
                                            amount</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" id="textPayedAmount"
                                               class="form-control text-center" required
                                               placeholder="enter payed amount"
                                               onkeyup="textValidator(this,'','tchPayHsEnrlmt','payedamount')">
                                    </div>
                                </div>
                                <!--                                payed balance amount end-->


                                <!--                                 balance amount start-->
                                <div class="row mt-2">
                                    <div class="col-md-6">
                                        <label for="textBalanceAmount" class="form-label fw-bold">balance
                                            amount</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" id="textBalanceAmount"
                                               class="form-control text-center" required
                                               placeholder="enter balance amount"
                                               onkeyup="textValidator(this,'','tchPayHsEnrlmt','balanceamount')">
                                    </div>
                                </div>
                                <!--                                total balance amount end-->


                                <!--                                button start-->
                                <button type="reset" class="btn btn-danger">reset</button>
                                <button type="button" class="btn btn-warning">update</button>
                                <button type="button" class="btn btn-primary" onclick="buttonInnerAdd()" >submit</button>
                                <!--                                button end-->

                                <!--                                table start-->
                                <div class="row mt-5">
                                    <table class="table table-hover table-bordered" id="teacherPaymentHasEnrolmentInnerTable">
                                        <thead class="table-primary">
                                        <th>#</th>
                                        <th>enrolment</th>
                                        <th>payed amount</th>
                                        <th>balance amount</th>
                                        <th>modify</th>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                                <!--                                table end-->


                            </div>
                            <!--                            right side end-->


                        </div>
                        <!--                        row end-->


                        <!--                    button start-->
                        <div class="row mt-5">
                            <div class="col-md-4">
                                <button type="reset" class="btn btn-danger fw-bold"
                                        style=" width: 50%; color: whitesmoke; border: 1px solid black; border-radius: 10%">
                                    <i class="fa-solid fa-trash fa-beat"> </i> reset
                                </button>
                            </div>
                            <div class="col-md-4 text-center">
                                <button type="button" id="btnUpdateTeacherPayment" class="btn btn-warning fw-bold"
                                        style="width: 50%; color: whitesmoke; border: 1px solid black; border-radius: 10%; pointer-events: all">
                                    <i class="fa-solid fa-recycle fa-beat"> </i> update
                                </button>
                            </div>
                            <div class="col-md-4 text-end">
                                <button type="submit" id="btnAddTeacherPayment" class="btn btn-primary fw-bold"
                                        style="width: 50%; color: whitesmoke; border: 1px solid black; border-radius: 10%; pointer-events: all"
                                        onclick="teacherPaymentAdd()">
                                    <i class="fa-solid fa-plus fa-beat"> </i> add
                                </button>
                            </div>
                        </div>
                        <!--                    button end-->


                    </form>

                </div>
            </div>
        </div>
    </div>
    <!--employee modal area end-->


</div>
</body>
</html>
